
.btn-back {
    color: #000;
}

/* 全局样式（背景cover和video样式） */
body {
    width: 100%;  
    background: var( --bg-color-light);
}

.fixed-gif {
  width: 17vw;
    object-fit: cover;
    position: absolute;
    top: 5vw;
    right: 11vw;
    z-index: -1;
    opacity: 1;
}
.myVideo{
    width: 29%;
    /* height: 58%; */
    object-fit: cover;
    position: absolute;
    top: 1vw;
    right: 5.3vw;
    z-index: -1;
    opacity: 1;
    filter: saturate(1.2); /* 增加饱和度 */
    /* box-shadow: -20px 0px 100px 17px #c6dcf3ab; */
    mix-blend-mode: darken;
} 

.stroke-container {
  background: var(--bg-color-light);
  border: 1px solid var(--line-color);

  position: absolute;
  bottom: 4%;
}

.Stroke {
  margin-top: 4px;
    font-size: 60px;
    font-weight: 600;
    
    opacity: 0.1;
    color: var(--bg-color-light); /* 描边颜色 */
}

a {
    display: block;
}
.return-btn {
    position: absolute;
    left: 7.5%;
    top: 12%;
    display: flex;
    height: 64px;
    width: 64px;
    justify-content: center;
    align-items: center;
    border-radius: 52.706px;
    border: 1px solid #222;
    overflow: hidden;
    z-index: 200;
}

.return-btn .arrow {
    font-size: 34px;
    
}

.btn :hover {
    transform: scale(1.05);
    .arrow {
       /* transform:scale(0.95) translateX(-2px); */

     }

}

.grid-system {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4个等分格子 */
    gap: 0;
    position: relative;
    overflow: visible;
    min-height: 300px;
    width: var(--basic-wrapper);
    margin-top: 12vw;
}


/* -----------格子布局--------------- */
.grid-cell {
  /* grid-column: var(--grid-column); */
  overflow: hidden;
  aspect-ratio: 16/9 ;
  margin-bottom: 16vw; 
  
  box-shadow: 0 95px 78px 0 rgba(2, 7, 54, 0.01), 0 60px 66px 0 rgba(2, 7, 54, 0.05), 0 49px 49px 0 rgba(2, 7, 54, 0.09), 0 12px 27px 0 rgba(2, 7, 54, 0.10);
}

.grid-cell img, .grid-cell video{
  width: 100%;
}

.gard-1{
  grid-column: span 1; 
  border-radius: 8px; 
  margin-top: 8vw;
  transition: all 0.5s ease-out;
}

.gard-2,.gard-center{
  grid-column: span 2; 
  border-radius: 12px; 
}
.first-gard1 {
  margin-top: 14vw;
  grid-column: span 1; 
  border-radius: 8px; 

}


/* 空单元格样式 */
.empty-cell {
    opacity: 0;
    grid-column: span 1; 

}
        



/* 为动画元素添加初始状态锁定 */
.grid-cell.gard-1, .grid-cell.gard-center {
    transform: translateY(0);
    will-change: transform; /* 提示浏览器准备进行变换动画 */
}
