body {
    background-color:var(--bg-color-light);
    overflow-x: hidden;
    
}

.dot {
    width: 8px;
    height: 8px;
    background: var(--first-color);
    border-radius: 20px;
    transform: scale(0);
}
.draggable-element {
  touch-action: none;  /* safari禁用触摸滚动 */
}

.highlight {
    color: var(--first-color) !important;
}
.text-gray {
    color: var(--text-color-3) !important;
}
/* ----------------------------------1.作品集封面----------------------------------- */


.banner{
    width: 100%;
    height: 100%;

    background-image: linear-gradient(180deg, #F1F3F7 42.71%, #FFF 77.41%);

    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center bottom;
    position: relative;
    overflow: hidden;
}
.move-bg,.banner-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}
.banner .wrapper {
    padding: 6% 0 3vw 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: auto;
    justify-content: space-between;
}

/* 文字 */
.bannerText-box {
    display: flex;
    flex-direction: column;
}
.banner-bottom-box {
    z-index: 3;
}
.bannerText-box .icon {
    color: #1f1f20;
    height: 78px;
}
.text-hello {
    width: 245px;
}
.text-name {
    width: 400px;
    color: #1f1f20;
    z-index: 1;

}
.pixel-text {
    font-size: 98px;
    color: var(--text-color-3) !important;
}


/* 吊牌标签 */
.text-label-box {
    display: flex;
    margin-bottom: 24px;
    z-index: 4;

}
.portfolio-lable-box{
    width: 170px;
    height: 66px;
    margin-left: -16px;
    margin-top: 15px;
    z-index: 5;
    filter: saturate(110%);
    position: relative;
    transform-origin: left top;
    animation: labelRotate 2s ease-out ;
    
}
.portfolio-lable-box .portfolio-label {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: 58px 21px;
    animation: labelRotate 2s ease-out ;
}
.portfolio-label-x {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 53px;
    transform-origin: 11px 28px;
    transform: rotate(15deg);
}
.portfolio-lable-box:hover {
    .portfolio-label-x {
        transform: rotate(-20deg);
    }
    .portfolio-label-tag {
        transform: rotate(8deg);
    }

}

@keyframes labelRotate{

    0%{
        opacity: 0;
        transform: rotate(0deg);

    }

    50%{
        opacity: 0;
        transform: rotate(4deg);

    }
    51%{
            opacity: 1;
            transform: rotate(4deg);

        }
    100%{
        opacity: 1;

        transform: rotate(0deg);

    }
}


/* banner底部 */
.pixel-portfolio{
    width: 260px;
    /* height: 70px; */
}


.black-block {
    width: 6px;
    height: 6px;
    background: #000;
}
.banner-tags-container {
    display: flex;
    gap: 32px;
    margin-top: 8px;
}
.banner-bottom-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}
.banner-bottom-box .banner-tag {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}
.banner-tag span {
    font-size: 16px;
    white-space: nowrap;
}
/* 右边skill */
.skill-container {
    display: flex;
    gap: 8px;
}
.rectangular-container{
    display: flex;
    gap: 3px;
    margin-top: 3.5px;
}
.deco-rectangular {
    width: 3px;
    height: 8px;
    background: #000;
}
.deco-rectangular:nth-child(2){
    opacity: 0.6;
}
.deco-rectangular:nth-child(3){
    opacity: 0.3;
}
.skill-container p {
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--text-color-2);
}

/* banner sprite动画 */
.banner-sprite {
    width: 140px !important; /* Adjust to your frame width */
    height: 140px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size:auto 100%;
    position: absolute;
    z-index: 4;

} 
.sprite-bucket {
    filter: brightness(1.24);
    left: 10%;
    bottom: 14%;
    transform: scale(1);

}


.sprite-garbage {
    right: 12%;
    bottom: 16%;
    transform: scale(1.2);
    filter: contrast(1.2) ;

}

.sprite-keycap {
    right: 11%;
    top: 9%;
    transform: scale(0.9);
    filter: contrast(1.1);

}


/* spline */
.modeling-box {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    z-index: 3;
    overflow: hidden;

}
spline-viewer {
    transform: translateZ(0);
    will-change: transform;
    height:calc(100vh + 80px);
    width: 100%;
    /* 防止滚动时重绘 */
    contain: layout style paint;
    
    /* 保持原有外观 */
    isolation: isolate;    
}


.modeling-loading {
    width: 150px;
    -webkit-box-pack: center;
    text-align: center;
    color: #000;
    position: absolute;
    font-size: 16px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-36% ,0);
}



/* skill滚动 */
.skillRoll {
    background: #ffffff;
    padding: 40px 0;
}
.skillRoll .wrapper {
    overflow: hidden;
    position: relative;
}

.skillRoll .wrapper::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0.00) 20%, rgba(255, 255, 255, 0.00) 89.7%, #ffffff 100%);
}

.skillRoll-container {
    display: flex;
    padding: 20px 0px;
    align-items: flex-start;
    gap: 80px;
    color: #646c78;

        /* 添加动画属性 */
    animation: scroll 35s linear infinite;
    width: max-content; /* 确保容器宽度由内容决定 */

}


.skillRoll-list {
    display: flex;
    gap: 12px;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;  
    white-space:nowrap;  
    /* 强制保持原始尺寸 */
    flex-shrink: 0;
    width: auto !important;

}
.skillRoll-list svg {
    font-size: 23px;

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50% - 40px)); /* 移动一半宽度 */
    }
}

/* -------------------------------------个人信息--------------------------------- */


.personal-information-container {
    display: flex;
    justify-content: space-between;
    gap: 10vw;
}

/* 照片 */
.photo-frame {
    width: 32vw;
    height: 31vw;
    background-image: url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/index/photo-frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.photo-frame:hover {
    .photo-1 {
        transform: rotate(0deg);
    }
}

.myphoto {
    position: absolute;
    top: 24%;
    left: 32%;
    transform: translate(-50%,-50%);
    transition: all 0.5s ease-out;
    width: 34%;
    transform-origin: top center;
    overflow: hidden;
}

.photo-2 {
    transform: rotate(6deg);
    box-shadow: 0 0 4px 0 rgba(76, 73, 95, 0.328), -15px 22px 11px 0 rgba(8, 25, 48, 0.01), -8px 13px 9px 0 rgba(8, 25, 48, 0.05), -4px 6px 7px 0 rgba(8, 25, 48, 0.09), -1px 1px 4px 0 rgba(208, 224, 244, 0.47);

}
.photo-1 {
    top: 20%;

    transform: rotate(-6deg) scale(1.128);
}




/* -----个人介绍------- */

.information-box {
    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: space-between;

}

.personal-information {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.personal-information p{
    margin-top: 26px;
    color: var(--text-color-1);
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%; /* 34px */
    letter-spacing: 0.4px;
}


.text-regular {
    font-weight: 400 ;
    font-size: 16px;
    color: var(--text-color-1);
    font-style: normal;
    line-height: 170%; /* 34px */
}



/* ------------右侧卡片------------- */

.card-container {
    width: 100%;
    min-height: 8.5vw;
    display: flex;
    gap: 2vw;
}
.number-info-box {
    margin: 20px 0;
    flex: 1;
}
.number-card {
    width: 100%;
    height: 100%;
    background: #F6F7FA;
    border-radius: 0.6vw;
    padding:0 4px 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
  align-items: flex-start;
}
.number-card h1 {
  font-family: 'RobotoMono';
  font-size: 46px;
  margin-right: 8px;
}
.number-card span {
  font-size: 24px;
  margin-top: 4px;
  font-weight: 500;

}

.number-card  p{
  font-size: 14px;
  color: #9DAABF;
}

.sprite {
  height: var(--sprite-width);
  width: var(--sprite-width);
  background-repeat: no-repeat;
  background-size: auto 100%;
  animation: loop-sprite var(--sprite-time) steps(var(--step-count)) infinite;

}

.sprite-frame {
    background-image: url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/index/gif/%E7%A7%91%E6%8A%80%E6%96%B9%E5%BD%A2_sprites.png);
    filter: brightness(102%) saturate(1.3);
    animation: loop-sprite var(--sprite-time) 0.3s steps(var(--step-count)) infinite;

}

.sprite-folder {
    background-image: url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/index/gif/folder.png);
    filter: brightness(1) contrast(1.05) saturate(1.1);
    margin-top: 8px;
}

@keyframes loop-sprite  {
  0% { background-position: 0 0; }
  45% { background-position: calc(-1 * var(--sprite-width) * var(--step-count)) 0; }  /* 正放完成 */
  55% { background-position: calc(-1 * var(--sprite-width) * var(--step-count)) 0; }  /* 正放完成 */
  100% { background-position: 0 0; }      /* 倒放回起点 */
}






/* 工作经历 */
.mySkills-container {
    background: var(--bg-color-dark);
    position: relative;
    padding: 8vw 0 6vw 0;
    z-index: 12;
    overflow: hidden;
    /* border-radius: var(--border-radius); */

}
.mySkills-container .sectionTitle-box p  {
      -webkit-box-pack: end;

}


.skill-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-color-dark);
    padding: 40px 0;
}

.skill-left-container {
    display: flex;
}
.skill-list .number {
    font-size: 18px;
    font-family: 'RobotoMono';
    color: var(--white-70);
    width: 10vw;   /* 设置元素的最小宽度 */
    min-width: 70px;
}

.skill-list .skill-name{
    color: #fff;
    font-family: "PingFang SC";
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-top: -12px;
}

.skill-list p {
    width: 40%;
    white-space: normal; /* 恢复默认换行行为 */
    color: var(--white-50);
    font-weight: 300;
    font-size: 15px;


}
.skill-list img {
    display: none;
}



/* ----------------------------------------2.目录---------------------------------------- */
.content {
    width: 100%;
    /* height: 102vh; */
    position: relative;  
    background-repeat: no-repeat;
    background-size:55% auto,contain;
    background-image: 
    url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/3d/3d-bg.png),
    linear-gradient(180deg, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0.00) 50.88%);
    
}

.content-head {
    display: block;
    margin-left:var(--basic-margin);
    font-size: 180px;
    text-transform: uppercase;
    color: #161B29;
    letter-spacing: 2px;
}

.project-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #000; */
    position: relative;
    border-top:1px solid var(--line-color);

    background-color: var(--bg-color-light);
    background-repeat: no-repeat;
    background-size:55% auto, contain;
    background-position: 0 -24vw , 0 0;
    background-image: 
    url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/3d/3d-bg.png),
    linear-gradient(180deg, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0.00) 70.88%);

}


.project-container .subtitle-box {
    position: absolute;
    left: var(--basic-margin);
    top: 16px;
}


.project-items {
    z-index: 2;
    margin-top: -3vw;
}

.project-item {
    padding: 0 16px;
}

.project-item,.content-info {
  position: relative;
  width: 100%;
  height: fit-content;
  grid-column: var(--grid-column);
  cursor: none !important;
}










/* 项目左边信息 */
.content-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 21vw;
    padding: 24px 3vw 8px 0;

}


.item-number-box {
    display: flex;   
}
.item-number-box span,.item-number-box h5 {
    color: #bec7d6;
    /* opacity: 0.8; */
    font-family: 'RobotoMono';
    font-size: 20px;
    font-weight: 400;
}

.item-number-scroll h5{
    color: var(--first-color) !important;
}

.item-title-box {
    height: 96px;
    overflow: hidden;
    margin-top: 8px;
}

.item-title {
    font-size: 34px;
    height: 96px;
    line-height: 140%;
    
    /* text-wrap: nowrap; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.project-title-box .line {
    height: 1px;
    width: 40px;
    background: var(--line-color);
    margin: 12px 0 2px 0;
}
.item-description {
    line-height: 160%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}


/* 项目右边信息 */
.info-right {
    padding: 40px 0 40px 3vw;
}
.info-lable {
    color: var(--text-color-3);
    margin-bottom: 8px;
    text-transform: capitalize;
}
.item-value {
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap; /* 不换行 */
    overflow: hidden;
    text-overflow: ellipsis; /* 显示省略号 */    
    text-transform: capitalize;
}

.item-value-box,.item-number-box {
    height: 26.5px;
    overflow: hidden;
}
.value-time {
    font-family: 'RobotoMono';
    height: 26.5px;

}





.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    perspective: 1000px;
}
        
.card {
    width: 100%;
    aspect-ratio: 5/3;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-out;
    cursor: pointer;
}



.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease;

    overflow: hidden;
    box-shadow: 0 80px 48px 0 rgba(149, 154, 187, 0.05), 0 36px 36px 0 rgba(149, 154, 187, 0.09), 0 9px 20px 0 rgba(149, 154, 187, 0.10);
}

.card-face img, .card-face video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-out;
}
.card-back {
    transform: rotateX(180deg);
}


/* 卡片时间等信息 */
.hover-info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 30%, rgba(0, 0, 0, 0.00) 100%);
    transform: translateY(66px);
    transition: all 0.5s ease-out;

}
.hover-info-container h1{
    font-size: 18px;
    font-weight: 500;

}

.project-tags {
    display: flex;
    gap: 16px;

}
.hover-info-container span {
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 400;


    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

/* 只放大当前可见的面 */
.card:hover .card-front.visible img,
.card:hover .card-front.visible video,
.card:hover .card-back.visible img,
.card:hover .card-back.visible video {
    transform: scale(1.06);
    transition: transform 0.5s ease-out;
}
.card:hover .card-front.visible .hover-info-container,
.card:hover .card-back.visible .hover-info-container
{
    transform: translateY(0px);
    
}


/* 装饰线 */

.content .line-box {
    position: absolute;
    top: 0;
    z-index: -1;
}
.content .line-box .line {
    height: 300vh;
    background: var(--line-color-lighter);
    opacity: 0;
}

.content .line-box .line:nth-child(4),
.content .line-box .line:nth-last-child(4) {
    opacity: 1;
}




/* 装饰文字 */

:root {
    --srtoke-color:#dde0e9;
}
.stroke-button-box {
    width: 100%;
    position: absolute;
    bottom: 0vw;
    background: var(--bg-color-light);
    border-top: 1px solid var(--line-color);    
    border-bottom: 1px solid var(--line-color); 
    overflow: hidden;

    height: 146px;
    display: flex;
    align-items: center;
}

/* .project-container .btn-more-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */

.btn-centre-container {
    z-index: 3;
}
.stroke-button-box .Stroke {
    font-size: 78px;
    color: var(--bg-color-light);
        text-shadow:
        -1px -1px 0 var(--srtoke-color),
        1px -1px 0 var(--srtoke-color),
        -1px 1px 0 var(--srtoke-color),
        1px 1px 0 var(--srtoke-color);
    opacity: 1;
    animation: scroll2 30s linear infinite;
    z-index: -1;
    /* transform: translateX(-1532); */
}

.scroll-content {
    display: inline-flex;
    white-space: nowrap;
    animation: seamless-scroll 30s linear infinite;


    position: absolute;
    z-index: 0;
    margin-top: 10px;

}

@keyframes seamless-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}



.stroke-container {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.stroke-box {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}
.stroke-box .Stroke {
    font-size: 4vw;
    color: var(--bg-color-light);
    opacity: 0.1 ;
    margin-left: 400px;
}

/* 平板/手机端项目双排 */
.stroke-button-box.phone {
    position: initial;
    margin: 6vw 0 10vw 0;
    display: none;
}
.stroke-button-box.phone .scroll-content {
}


/* 目录-其他设计 */
.otherDesign-container {
    /* margin-bottom: 500px; */
    overflow: visible;
    padding-top: 6vw;
}
.otherDesign-texts {
    width: 100%;
    padding-right: 3.6vw;

}

.otherDesign-text-box {
    align-items: flex-start;
    flex-direction: column;
}

.otherDesign-texts  .sectionTitle-container {
    margin-bottom: 0;
}


.otherDesign-texts p {
    /* color: var(--text-color-2); */
    font-size: 16px;
    line-height: 170%; /* 27.2px */
    letter-spacing: 0.32px;
    margin-top: 24px;
    width: 100%;
    text-align: left;
    -webkit-box-pack:start;
}


/* ------重力掉落------ */
.gravity-box {
    flex: 1;
    min-width: 25vw; /* 防止内容溢出 */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tag-canvas {
    width: 270px;
    height: 18vw;
    position: relative;
    overflow: hidden;
}
.tag {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 50px;
    z-index: 10;

}
.tag .icon {
    font-size: 28px;
    color: rgb(0, 0, 0);
}


/* ------其他设计-卡片------ */
.otherDesign-cards {
    width: 100%;
    /* background: #000; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.5vw;
    padding-left: 1.5vw;
}

.otherDesign-card{
    width: 100%;
    height: 100%;
    padding: 24px 34px;
    border-radius: 12px;
    position: relative;

    display: flex;
    flex-direction: column;

    /* box-shadow: 0 10px 25.5px 0 rgba(9, 21, 99, 0.10); */
    border: 1px solid var(--line-color-lighter);
    background: linear-gradient(180deg, #dfe9ffa4 0%, rgba(233, 237, 246, 0.00) 25%), #FFF;
}
.otherDesign-cards a {
    flex: 1; /* 使所有子项均匀分配空间 */
    min-width: 0; /* 防止内容溢出影响宽度 */
}

.otherDesign-card h1 {
    text-transform: uppercase;
    font-size: 26px;
    margin: 12px 0 8px 0;
}

.otherDesign-card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    color: var(--text-color-4);
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 1.5vw;
    
    /* 如果需要最小高度 */
    min-height: 67px;
    
    /* 确保是块级元素 */
    box-sizing: border-box;
}

/* arrow */
.item-arrow {
    width: 40px;
    height: 40px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: rotate(-30deg);
    background: #ffffff;
    position: absolute;
    top: 30px;
    right: 30px;
      /* 禁止鼠标事件 */
    pointer-events: none;
}
.arrow-gif .icon {
    font-size: 20px;
    color: var(--text-color-1);
    margin: 3px 0 0 1px;
}
@keyframes arrow2{
    0%{
        transform:  translateX(-32px);
    
    }

    100% {
        transform:  translateX(0px)
    }
}



.otherImg-container {
    width: 100%;
    aspect-ratio: 3/2; /* 宽度:高度 = 2:1 (即高度为宽度50%) */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-bottom: 2vw;

    background-image: url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/index/gard-bg.png);
    background-size: cover;

}

.sprite-3d {

    background-image: url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/index/gif/%E5%87%A0%E4%BD%95.png);
    filter: contrast(1.05) saturate(0.95);
}
.sprite-logo {
    background-image: url(../img/index/gif/logo.png);

}
.sprite-circle {
    background-image: url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/index/gif/circle.png);
    filter: contrast(1.1);
    margin-top: 4px;
}






/* 照片和箭头hover效果 */
.otherDesign-card:hover {
    .arrow-gif {
    animation:arrow2 0.6s ease-out  infinite; 
    animation-iteration-count: 1;    
    }
    transition: all 0.5s ease-out;
    /* box-shadow:var(--box-shadow);  */
    box-shadow:  0 14px 34px 0 rgba(82, 99, 148, 0.09), 0 8px 18px 0 rgba(104, 125, 187, 0.10);    /* photo */
    .folder-base {
        transform: rotateX(-50deg);
    }
    .paper1 {
        top: 16%;
        left: -10%;
        transform: rotate(-12deg) scale(1.1);
    }
    .paper2 {
        top: 8%;
        left: 50%;
        transform: translateX(-50%) rotate(0deg) scale(1.3);
    }
    .paper3 {
        right: -10%;
        top: 18%;
        transform: rotate(12deg) scale(1.1);
    }

}


.otherImg-container video{
    width: 70%;
    height: 70%;
    object-fit: cover;
    mix-blend-mode: darken;
}

.otherImg-container img {
    height: 100%;
    width: auto;
}
.otherImg-container i {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 文件夹 */
.folder-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.folder {
    position: relative;
    width: 40%;
    aspect-ratio: 4.5 / 4;
    transform-style: preserve-3d;
    perspective: 500px;
    
}

.folder-base {
    position: absolute;
    bottom: 0;
    width: 101%;
    height: 72%;
    transform-origin: center bottom;
    transition: transform 0.5s ease;
    z-index: 2;
    border-radius: 8px 8px 6px 6px;
    border: 1px solid #FFF;
    background-size: contain;
    background-image: 
    url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/index/floder-base.png),
    linear-gradient(180deg, #FEFFFF 0%, #FFF 100%);
    box-shadow: 0 -1px 6px 0 #FFF inset,0px -4px 18.7px 0px rgba(114, 134, 152, 0.15), 0px 4px 8.2px 0px rgba(139, 160, 173, 0.25) inset;
}
.folder-lid {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/index/floder-back.png);
    transform: translateZ(-1px); /* 修复Safari的z-index问题 */
}
/* 投影 */
.folder-lid::before {
    content: '';
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    box-shadow:  0 79px 31px 0 rgba(72, 103, 199, 0.01), 0 44px 27px 0 rgba(72, 103, 199, 0.05), 0 20px 20px 0 rgba(72, 103, 199, 0.09), 0 5px 11px 0 rgba(72, 103, 199, 0.10);
}

.paper {
    position: absolute;
    width: 40%;
    height: 36%;
    background-repeat: no-repeat;
    background-size: 100% auto; 
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: all 0.5s ease;
}
.paper1 {
    background-image: url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/index/floder-photo1.png);
    top: 22%;
    left: 10%;
    transform: rotate(-8deg);
}
.paper2 {
    background-image: url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/index/floder-photo2.png);
    top: 20%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) rotate(8deg);
}
.paper3{
    background-image: url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/index/floder-photo3.png);
    top: 23%;
    right: 8%;
    transform: rotate(-2deg);
}



/* -------------------------------------4.其他设计--------------------------------- */

.text-scroll {
    margin: 160px 0 100px 0;
    display: flex;
    
}
.text-scroll li {
    display: flex;
    gap:24px;
    margin:0 60px;
    align-items: center;
}
.text-scroll .highlight {
    height: 66px;
}
.text-scroll span{
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #fff;
    /* 强制大写 */
    text-transform: uppercase;
    /* 强制文字不换行 */
    white-space: nowrap;
}

/* ---图片滚动--- */

.title-middle {
    font-size: 4rem !important;
    margin-bottom: 4px;
}




.img-roll img {
    width: 400px;
    height: 225px;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
}
.scroll-item {
    margin-right: 50px;
    flex-shrink: 0;
}


@keyframes scrollRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
@keyframes scrollLeft {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}

.rular {
    width: 98%;
    height: 40px;
    /* background: #ff2e2e; */
    background-image: url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/index/rular.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    /* opacity: 0.8; */
    position: absolute;
    top: 8px;
    left: 40px;
}


.img-roll {
    width: 100%;
    background: var(--bg-color-dark);
    overflow: hidden;
    position: relative;
    z-index: 2;
    margin: auto;

}
.scroll-right, .scroll-left {
    display: flex;
    width: max-content;
}
.scroll-right { 
    animation: scrollRight 40s linear infinite;
}
.scroll-left { 
    animation: scrollLeft 45s linear infinite;
    margin: 100px 0 180px;
}
@keyframes scrollRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
@keyframes scrollLeft {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}


/* -------------------------------------5.笔记--------------------------------- */
.notes-section {
    width: 100%;
    /* height: 100vh; */
    position: relative; 
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(https://portfolio-1318207515.cos.ap-hongkong.myqcloud.com/index/notes-bg.png);
    /* box-shadow: 0px -8px 15px 0px #c6ddf2; */
    margin-top: 80px;
}
.notes-section .Stroke {
    font-size: 5vw;
    position: absolute;
    opacity: 0.08;
    color: #eef1f5;
    bottom: 5vw;
    left: 3vw;
    z-index: 0;
}
.note-lists {
    width: 38vw;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    z-index: 2;

}

/* ----笔记book----- */
/* Books Section (center column) */
.books-wrapper {
  display: flex;
 justify-content: space-between;
  gap: 24px;
  width: 90%;
  align-items: center;
}

/* Book Item Styles */
.books__item {
  text-align: center;
  cursor: default;

}

.books__container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.books__cover {
  position: relative;
  will-change: transform;
}

.books__hitbox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
}

/* Back Cover: 96% with 2% margin */
.books__back-cover {
  position: absolute;
  width: 96%;
  height: 97%;
  top: 2%;
  left: 2%;
  background: #7e8793;
  border-radius: 0 6px 6px 0;
  box-shadow: 5px -1px 15px rgba(0, 0, 0, 0.4);
  z-index: -10;
}

/* Paper Container: 90% with equal top/bottom margin */
.books__inside {
  position: absolute;
  width: 95%;
  height: 96%;
  top: 3%;
  left: 5%;
  z-index: 0;
}

/* Paper Pages: height is 100% */
.books__page {
  position: absolute;
  top: 0;
  right: 0;
  width: 96%;
  height: 100%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 6px 6px 0;
  transform-origin: right center;
  z-index: -5;
}

/* Initial stacking: pages start at 0 offset (fully stacked) */
.books__page:nth-child(1) {
  transform: translateX(0px);
}

.books__page:nth-child(2) {
  transform: translateX(0px);
}

.books__page:nth-child(3) {
  transform: translateX(0px);
}

/* Front Cover Image */
.books__image {
  line-height: 0;
  position: relative;
  /* border-radius: 2px 6px 6px 2px; */
  transform: perspective(2000px) rotateY(0deg) translateX(0px) scaleX(1);
  transform-style: preserve-3d;
  transform-origin: left center;
  cursor: pointer;
  will-change: transform;
  z-index: 10;
}

.books__image img {
  width: 100%;
  border-radius: 2px 4px 4px 2px;
}

.books__light {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2px 6px 6px 2px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.15;
  transform-origin: left center;
  z-index: 4;
  pointer-events: none;
  mix-blend-mode: overlay;
}

/* 添加悬停效果 */
.books__item:hover  {
    .books__image img {
        transform: perspective(2000px) rotateY(-20deg) translateX(-3px) scale(1.02);
        height: 102%;
        box-shadow: 5px 0px 6px 0px rgba(0, 0, 0, 0.2); 
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .books__back-cover {
        transform: translateX(11px);
        transition: transform 0.5s ease-out ;
    }
    .books__page {
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    }
}

.books__item:hover .books__page:nth-child(1) {
  transform: translateX(5px);
  transition: transform 0.6s ease-out 0.2s;
}

.books__item:hover .books__page:nth-child(2) {
  transform: translateX(3px);
  transition: transform 0.6s ease-out 0.3s;
}
.books__item:hover .books__page:nth-child(3) {
  transform: translateX(1px);
  transition: transform 0.6s ease-out 0.4s;
}

.books__page {
  transition: transform 0.6s ease-in 0.2s;
}

.bookshelf {
    width: 110%;
    height: auto;
}







/* 笔记右边文字 */

.note-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


/* 确保内容区域正确显示 */
.note-content-container {
    width: 32vw;
    min-height: 120px; /* 确保有足够高度 */
    position: relative;
    margin-top: -32px;
}

.note-title {
    margin-bottom: 18px;
    transition: opacity 0.3s ease, transform 0.5s ease;
    font-weight: 500;
}

.note-detail {
    color: var(--text-color-3);
    transition: opacity 0.3s ease, transform 0.5s ease;
    font-size: 16px;

}

/* 内容切换动画 */
.content-updating {
    opacity: 0;
    transform: translateY(20px);
}

.content-updated {
    opacity: 1;
    transform: translateY(0);
}




/* ------------------------------- 首页meida ----------------------------------- */
@media screen and (max-width: 1520px) {
    /* -------banner--------- */
    .sprite-computer, .computer-box {
        transform: translate(-10%, -60%) scale(2.8);
    }
    .sprite-garbage {
        right: 12%;
        bottom: 10%;
        transform: scale(1.2);
    }
    .sprite-bucket {
        transform: scale(0.94);
    }
    .sprite-keycap {
        right: 9%;
        top: 9%;
        transform: scale(0.8);

    }    
    
    .bannerText-box .icon {
        height: 75px;
    }


    .portfolio-lable-box {
        margin-left: -15px;
    }
    /* ------------个人信息----------------*/
    .number-info-box {
        margin: 24px 0;
    }

    .number-container {
        margin-bottom: 4px;
    }
    .personal-information-container {
        gap: 8vw;
    }   
    .personal-information p{
        margin-top: 0;
    }

    .number-card .sprite {
        transform: scale(0.95);
    }



    /* ------------其他设计----------------*/
    .otherDesign-cards .sprite-container {
        transform: scale(0.8);
    }
}

/* ---------------------------------平板------------------------------------ */
@media screen and (max-width: 1439px) {
    /* -------banner--------- */
    .sprite-computer, .computer-box {
        transform: translate(-10%, -40%) scale(2.6);
    }
    .sprite-keycap {
        right: 3%;
        top: 7%;
    }    
    .sprite-garbage {
        right: 6%;
        bottom: 12%;
    }

    /* ------------个人信息----------------*/
    
    .personal-information {
        margin-bottom: 40px
    }
    .number-card h1 {
        font-size: 42px;
    }
    /* ------------我的技能----------------*/
    .skill-list .skill-name {
        font-size: 32px;
    }
  /* ------------项目目录----------------*/
    .content-container,.content-head {
        display: none;
    }
    .project-container-phone {
        display: block !important;
    }
    .stroke-button-box.phone {
        display: flex!important;
    }
    /* ------------其他设计----------------*/
    .otherDesign-texts .sectionTitle-container {
        width: 40vw;
    }
    .otherDesign-cards {
        padding-left: 0;
        margin-top: 60px;
        grid-column:span 12;

    }
    .otherDesign-texts {
        padding-right: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        grid-column:span 12;
    }
    .gravity-box {
        flex: 0;
    }
    .otherDesign-cards .sprite-container {
        transform: scale(0.92);
    }


}



/* ------------------小于等于839px (平板竖屏)------------------------ */
@media only screen and (max-width: 839px)  {

    /* -------banner--------- */
    .sprite-computer, .computer-box {
        transform: translate(-50%, -60%) scale(2.8);
    }
    .sprite-bucket, .sprite-garbage {
        display: none;
    }
    .banner .wrapper {
        padding: 8% 0 13vw 0;
    }



    /* ------------个人信息----------------*/
    .personal-information-container {
        flex-direction: column;
        gap: 6vw;
        width: 100%;
    }
    .photo-frame {
        width: 100%;
        height: 90vw;
    }
    .card-container {
        min-height: 20vw;
        gap: 4vw;
        margin-bottom: 8vw;
    }
    .card-container .sprite {
        --sprite-width: 14vw !important;
    }
    .number-info-box {
        margin: 28px 0;
    }

    /* ------------我的技能----------------*/
    .skill-list {
        font-size: 32px;
        flex-direction: column;
    }
    .skill-list .skill-name {
        margin: -7px 0 24px 0;
    }

    .skill-list p {
        width: 100%;
    }

    /* ------------其他设计----------------*/
    .otherDesign-cards .sprite-container {
        transform: scale(0.68);
    }
    .sprite-3d {
        --sprite-width:160px !important;
        transform: scale(0.8);

    }
    .tag-canvas {
        height: 30vw;
    }
    .gravity-box {
        min-width: 32vw;
    }
    .otherDesign-texts .sectionTitle-container {
        width: 49vw;
    }
    /* ------------笔记----------------*/
    .notes-section .sectionTitle-box {
        flex-direction: row !important;
    }
    .note-lists{
        width: 100%;
        margin: 60px 0;
    }
    .note-container {
        flex-direction: column;
    }
    .note-content-container {
        width: 100%;
        margin:0 0 60px 0;
    }}


/* ------------------------------手机-phone------------------------------- */
@media screen and (max-width: 599px) {

    /* -------标题模块--------- */
    .sectionTitle-box p {
        display: none !important;
    }
    /* -------banner--------- */
    .banner .wrapper {
        padding: 8% 0 calc(5vw + 58px) 0;
    }
    .sprite-computer, .computer-box {
        transform: translate(-50%, -50%) scale(1.7);
    }
    .bannerText-box {
        transform: scale(0.75);
        transform-origin: left center;
        z-index: 3;
    }
    .banner .move-bg, .sprite-keycap {
        opacity: 0;
    }
    .banner-bottom-box{
        width: 100%;
    }

    .banner-tags-container {
        gap: 0px 20px;
        flex-wrap: wrap;
    }
    .banner-tag span {
        font-size: 14px;
    }
    .skill-container {
        display: none;
    }

    .modeling-box {
        position: absolute;
        width: 100%;
        height:82vh;
        top: 6vh;
        z-index: 0;
        overflow: hidden;

    }
    spline-viewer {
        height:90vh;
    }



    /* ------------个人信息----------------*/
    .number-card {
        border-radius: 8px;
        padding: 0px 8px 0 16px;
    }
    .number-card h1 {
        font-size: 40px;
        margin-right: 6px;
    }
    .card-container {
        flex-direction: column;
    }
    .card-container .sprite {
        --sprite-width: 28vw !important;
    }
    .number-card span {
        font-size: 18px;
    }

    .number-info-box {
        margin: 20px 0;
    }
    /* ------------我的技能----------------*/
    .skill-list .skill-name {
        margin: 0 0 24px 0;
        font-size: 20px;

    }


    /* ------------项目---------------*/
    .projectCards-container.two-columns {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }

  


    /* ------------其他设计----------------*/
    .otherDesign-cards {
        flex-direction: column;
        gap: 20px;
    }
    .otherDesign-texts {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .otherDesign-texts p {
        margin-top: 0;
    }
    .otherDesign-texts .sectionTitle-container,.gravity-box,.tag-canvas {
        width: 100%;
    }
    .otherDesign-cards a {
        min-width: 100%;
    }
    .gravity-box {
        display: none;

    }
    .tag-canvas {
        height: 40vw;
    }
    .otherDesign-cards {
        margin-top: 40px;
    }
    .otherDesign-cards .sprite-container {
        transform: scale(1.1);
    }
    .sprite-3d {
        --sprite-width:180px !important;
    }




    .img-roll {
        margin-top: 40px;
    }

    .img-roll img {
        width: 270px;
        height: 150px;
    }
    .scroll-right {
        animation: scrollRight 20s linear infinite;
    }
    .scroll-left {
        animation: scrollLeft 20s linear infinite;
        margin: 60px 0;
    }
    .text-scroll {
        margin: 10px 0 60px 0;
    }




}

