@font-face {
  font-family: 'AaManYuShouXieTi';
  src: url("../font/AaManYuShouXieTi-2.ttf");font-weight: normal;font-style: normal;
}
body {
    color: #FFF;
    overflow-x: hidden;
    background: var(--bg-color-dark);
}
/* ------------------------------------ 1.banner -------------------------------------- */
.banner-bg-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.banner-bg-container .gradient-line {
    background: linear-gradient(180deg, #ffffff10 70%, rgba(255, 255, 255, 0.00) 100%) !important;
}

.banner-bg-container .line-box {
    height: 100%;

}

.line-box .line {
    background: #ffffff10;
}

.circle-line {
    width: 79.3vw;
    height: 80vw;
    border: 1px solid #ffffff15;
    border-radius: 5000px;
    position: absolute;
    top: 20px;
    left: var(--basic-margin);
    z-index: 0;

}
.bottom-line {
    position: absolute;
    top: calc(40vw + 20px);
    width: 100%;
    height: 1px;
    background: #ffffff15;
}




.banner-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.9;
    animation: opacity 2s ease-out ;
    z-index: -1;
}
.banner-bg video {
    width: 100%;
    height: auto;
    filter: brightness(120%) saturate(80%);
}

@keyframes opacity{

    0%{
        opacity: 0;
    }

    100%{
        opacity: 0.9;
    }
}




.banner {
    padding-top:14vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.banner p {
    opacity: 0.7;
    font-size: 16px;
}
/* 视频 */
.video-box {
    width: 18vw;
    height: 18vw;
    position: absolute;
    top: 13.5vw;
    right: 8.5vw;
    z-index: 2;
    mix-blend-mode: lighten;
    animation: video-animate 3s linear infinite;
}

@keyframes video-animate{

    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}

Video {
    width: 27vw;
    transform: translate(-4.5vw ,-4.5vw);
    /* filter: contrast(120%); */
}
.Jigsaw-scatter {
    display: none;
}




.banner h1 {
    font-size: 60px;
    color: #fff;
    color: var(--white, #FFF);
    text-shadow: 0px 10px 22px rgba(0, 0, 0, 0.25);
}
.banner .slogan {
    width: 490px;
    margin-top: 8px;
}



/* ----------------------- 格子系统 ----------------------- */
.grid-system {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
}
.grid-1 {
    grid-column: span 1; 
}
.grid-2 {
    grid-column: span 2; 
}
.grid-empty {
    opacity: 0;
}
.grid-item img {
    width: 100%;
}



/* 边距调这里 */
:root {
    --photo-padding :16px;
}


.padding-left {
    padding-left: var(--photo-padding);
}
.padding-right {
    padding-right: var(--photo-padding);
}
.padding-center {
    padding:0 var(--photo-padding);
}
/* ------------------------------------ 2内容区 -------------------------------------- */


.photo-title {
    display: flex;
    gap: 24px;
}
.point {
    width: 17px;
    height: 39px;
    margin: 5px 0;
}

.location {
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 5px;
}

.time-text {
    font-size: 16px;
    font-weight: 200;
    opacity: 0.7;
    text-transform: capitalize;
}

.written {
    width: 100%;
    font-family: 'AaManYuShouXieTi';
    margin: 40px 0 24px 0;
    font-size: 26px;
}
.written-en {
    font-size: 14px;
    width: 100%;
    line-height: 189%;
    letter-spacing: 1px;
    color: #a4a4a4;
}




/* --------------------------footer---------------------- */
.footer-mask {
    background-image: url(../img/photo/noise-bg-reverse.png) !important;
    background-size: 100% auto;
}
.footer-mask .line {
    background: #ffffff10 !important;
}
.footer-mask .line-box {
    position: absolute;
    width: var(--basic-wrapper);
    top: 0;
    z-index: -1;
}
.project-title h2 {
    color: #FFF;
}


/* ------------------------------小于等于768px(手机nav)------------------------------- */
@media only screen and (max-width: 768px) {

    /* 头部导航样式 */

    .header {
        background: #fff;
        height: 58px;
        box-shadow: 0px 1px 0px 0px #EDEFF2;
    }
    .wrapper {
        width: 90%;
    }
    .mylogo {
  
        background-image: url(../logo/logo.svg);
    }

    .burger {
        display: flex;
        width: 20px;
        height: 15px;
        flex-direction: column;
        justify-content: space-between;
    }
    .burger.close {
        .line-top {
          transform: rotate(45deg);
          transform-origin: left top;        
        }

        .line-middle {
          width: 0;
          transition: all 0.3 ease-in;
        }
        .line-bottom {
          transform: rotate(-45deg);
          transform-origin: left bottom;
        }
    }
    .header.open .nav {
        position: absolute;
        left: 0;
        top: 49px;
        width: 100vw;
        height: 110vh;
        background-color: #fff;
        color: var(--first-color);
        display: block;
        padding: 0 5%;
        opacity: 0;
        animation: slideDown 0.6s ease-out forwards;
        border-radius: 0 0 30px 30px ;
    }
    @keyframes slideDown {
        from {
            height: 0;
            opacity: 0;
        }
        to {
            height: 100vh;
            opacity: 1;
        }
        }

    .nav {
        display: none;
    }

    .nav li {
        margin-top: 50px;
        text-align: center;
    }
    .nav a {
        font-size: 24px;
        margin-left: 0;
        color: var(--text-color-1);
    }

}



/* ------------------------------平板------------------------------- */
@media screen and (max-width: 1439px) {
    .banner-bg {
        width: 100%;
        height: 66vw;

        z-index: -1;
    }
    .masonry__container {
        column-gap: 3vw;
    }
    .masonry__container img {
        margin-bottom: 3vw;
    }

    .photo-container {
        flex-direction: column;
    }
}

/* 中等尺寸竖屏 */
@media only screen and (max-width: 839px) and (orientation: portrait) { 
    .written-container {
        width: 100%;
        img {
            width: 50%;
        }
    }

}
/* ------------------------------手机------------------------------- */
@media screen and (max-width: 768px) {
	.masonry__container {
		column-count: 1;
	}
    .banner .slogan {
    width: 86%;
    }
    .banner-bg {
        height: 84vh;
        width: 210%;
        left: -55vw;
    }
    .video-box {
        width: 70vw;
        height: 70vw;
        position: absolute;
        top: 56vh;
        left: 14vw;
        transform: translateX(-50%);
        z-index: 1;
        mix-blend-mode: lighten;
        animation: video-animate 5s linear infinite;
    }
    Video {
        width: calc(100% + 12vw);
        transform: translate(-6vw ,-6vw);
        filter: contrast(150%);
    }
    .written-container img {
        width: 100% !important;
    }



}