body {
    background-color:var(--bg-color-dark);
    color: #fff;
    overflow-x: hidden;
}
/* --------------------------------------头部------------------------------------------ */
/* .header{ background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);}
.nav a { color: #ffffff;} */


/* ------------------------------------ 内容区 -------------------------------------- */



/* 全局样式（背景cover和video样式） */
.bg-cover {
    width: 100%;
    background-size: cover;
    position: relative;
    /* 饱和度 */
    filter: saturate(115%);
    /* margin-left: 32px; */
}
img {
    filter: saturate(103%);
}

video {z-index: 2;}








/* video默认右边 */
.video-right {
    top: 62% !important;
    right: var(--basic-margin);
    z-index: 3;
}
.video-left {   
    top: 14%;
    left: var(--basic-margin);
}
.video-middle {   
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
}

/* ---------------------------------------- */


/* 视频容器样式 - 发光描边 */
.video-container {
    position: absolute;
    top: 17%;
    right: 17%;
    width: 60vw;
    aspect-ratio: 16 / 9;    
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 80px 0px rgba(40, 101, 160, 0.4);
    background: #051927;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 渐变描边实现 */
.video-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3px;

    background: linear-gradient(102deg, #76E6FF 0%, #27525b 30%, #0e778f 60%, #76E6FF 99.84%);
    border-radius: 10px;
    z-index: -1;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;

}

.video-container video {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    object-fit: cover;
    border-radius: 8px;
    z-index: 2;
}


/* 首屏video-banner */

.bannerVideo-container {
    aspect-ratio: 19/10;
}





/* ---------------------------------------2----------------------------------- */

.spotlight {
    z-index: 4;
    mix-blend-mode: screen;
}
.softlight {
    z-index: 4;
    mix-blend-mode: soft-light;
    opacity: 0.1;
}
.container {
    margin-top: 93vw;
    margin-left: 20vw;
    display: flex;
    width: 93vw;
    align-items: flex-start;
    align-content: flex-start;
    gap: 12px;
    flex-wrap: wrap;
    z-index: 10;
}
  


.pic1 {
    height: 47vw;
    background-image: 
    url(../img/visualization/1.png);
}
.pic1 img {
    
    position: absolute;
    top: 0;
}
.pic1 .video-middle {
    top: 14% !important;
    width: 58vw !important;
}


/* ------------------卡片-------------------------- */


/* 新增的容器样式 */
.card-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 77vw;
    background-image: 
    url(../img/visualization/charts/chart-bg.png);

    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 4vw;
    background-color: #051726;
    /* margin-top: -2vw; */

    display: flex;
    justify-content: center;
    align-items: center;
}




.light {
    position: absolute;
    width: 100%;
    width: 100%;
    bottom: 2vw;    
    left: 2%;
    mix-blend-mode: plus-lighter;
    /* -webkit-mix-blend-mode: lighten; */
    pointer-events: none;
    z-index: 0;
}


.cards {
    margin: 22vw 0 0 22vw; 
    column-count: 5;
    column-gap: 0.8vw;

    position: relative;
    z-index: 2;
}

/* 修复的关键部分 - 修改选择器以匹配新的HTML结构 */
.card-container .cards:hover .card {
    background: radial-gradient(100rem circle at var(--xPos) var(--yPos), rgb(0, 247, 255), transparent 15%);
}

.card-container .cards .card {
    width: 15.7vw;
    height: 10.1vw;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.15s;
    background: radial-gradient(150rem circle at 0 0, rgba(0, 255, 241, 0), transparent 0%);
    margin-bottom: 0.8vw; /* 纵向间距 */
}


.card-container .cards .card:hover::before {
  opacity: 1;
}

.card-container .cards .card::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: radial-gradient(60rem circle at var(--xPos) var(--yPos), rgba(0, 255, 241, 0.1), transparent 35%);
    opacity: 0;
    transition: all 0.15s ease-in-out;
}


.card-container .cards .card .card-content {
    background-color: #071f31;
    border-radius: inherit;
    transition: all 0.25s;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    overflow: hidden;

    border: 1px solid rgba(0, 179, 255, 0.2);
    

}  

.card-container .cards .card .card-content img {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-top: -1px;
    margin-left: -1px;
    filter: saturate(115%);


}



/* ---------3-------- */
.pic3 {
    height: 112vw;
    background-image: 
    url(../img/visualization/文字3.png),
    url(../img/visualization/bg3.png);
}



/* ---------4.告警管理-------- */
.bg-alarm {
    height: 56vw;
    background-image: url(../img/visualization/4预警.png);
}

/* ---------通用项目-------- */
.project {
    height: 55vw;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}


.pad-bg {
    width: 61vw;
    height: 34.7vw;
    background-image: url(../img/visualization/pad-bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    box-shadow: -67.457px 110px 100px 0px rgba(6, 7, 7, 0.25), -13.491px 31.705px 70.156px 0px rgba(6, 7, 7, 0.80);
}
.pad-bg video,.pad-bg img{
    width: 60vw;
    border-radius: 14px;
}

/* 图片靠右 */
.bg-right {
    background-image: url(../img/visualization/bg-right.png);
}
.bg-right .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end
}
/* 图片靠左 */
.bg-left {
    background-image: url(../img/visualization/bg-left.png);
}
.bg-left  .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}





/* ------------按钮--------- */

.fixed-buttons {
    /* position:fixed; */
    bottom: 40px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: auto;
    align-items: flex-start;
    /* overflow: hidden; */
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, rgb(27 66 102 / 30%) 100%); */
}
.fixed-buttons li {
    margin: 0 50px 0 50px;
    
}
.fixed-buttons a {
    font-size:var(--normal-font-size);
    color: #E3F5FF;
    text-shadow: 0px 2px 8px rgba(0, 178, 255, 0.65);
    text-decoration: none;
    position: relative;
    margin-left: 5.7rem; 
    white-space: nowrap; 
}
.fixed-buttons a::after{
    content: '';
    width: 100%;
    height: 1px;
    /* currentColor可以获取当前元素或父元素的color */
    background-color: currentColor;
    position: absolute;
    left: 0;
    bottom: 0;
    /* 沿x轴缩放至隐藏 */
    transform: scaleX(0);
    /* 设置变换圆点为右 */
    transform-origin: right;
    /* 设置变换时的过渡 */
    transition: transform 0.3s ease-out;
}
.fixed-buttons a:hover::after{
    /* 沿x轴缩放至显示 */
    transform: scaleX(1);
    /* 设置变换圆点为左 */
    transform-origin: left;
}







/* ------------------------------- 以上为默认样式 ----------------------------------- */
/* ------------------------------小于等于839px (平板竖屏)------------------------------- */
@media only screen and (max-width: 839px) and (orientation: portrait) {


    /* ------------.video边框调整 ------------------*/
    .video-container::before{
        padding: 1px;
        border-radius: 6px;
    }
    .video-container,.pad-bg video, .pad-bg img,.pad-bg {
        border-radius: 6px;
    }
    .pic2-bg {
        margin-top: 58px;
    }
    .card-container .cards .card {
        border-radius: 0.15rem;
        margin-bottom: 5px;
    }
    .cards {
        column-gap: 5px;
    }


}


/* ------------------------------平板------------------------------- */
@media screen and (max-width: 1439px) {


}

